.container {
    color: #7e8083;
    width: 88%;
    margin-top: 56px;
    justify-content: center;
    padding: 5px;
    float: right;
    margin-right: 6%;
    font-family: 'Poppins', sans-serif;
}

/* .bx_body {
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid #a4a4a4;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
} */


.bx_img {
    width: 151px;
    height: 151px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19)
}

.bx_img img {
    width: 100%;
    border-radius: 100%;
}

.bx_conta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bx_camp {
    margin-top: 3rem;
}

.bx_divInput {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.bx_inpLab {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-bottom: 1rem;
}

.bx_btn {
    display: flex;
    justify-content: center;
}

.bx_btn button {
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #257cc8;
    width: 80px;
    height: 24px;
    cursor: pointer;
}

.bx_inpLab input {
    height: 24px;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}

.bx_inpLab select {
    height: 27px;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}