<div class="container_inicio">
    <div class="bx_inicio">
        <div class="TitleH">
            <h2>GENERADOR DE TICKET</h2>
            <h5>SOPORTE TECNICO</h5>
            <hr>
        </div>

        <div class="bx_container">
            <div class="bx_field">
                <label>Fecha</label>
                <input type="date">
            </div>
            <div class="bx_field">
                <label>Asunto</label>
                <input type="text">
            </div>
        </div>
        <div class="bx_container">
            <div class="bx_field">
                <label>Estado</label>
                <select>
                    <option>test</option>
                </select>
            </div>
            <div class="bx_field">
                <label>Titulo</label>
                <input type="text">
            </div>
        </div>
        <div class="bx_container">
            <div class="bx_field">
                <label>Tipo de Aplicación</label>
                <select>
                    <option>test</option>
                </select>
            </div>
            <div class="bx_field">
                <label>Codigo de Conexión Remota</label>
                <input type="text">
            </div>
        </div>

        <div class="bx_fieldDes">
            <label>Area</label>
            <select>
                <option>Area</option>
            </select>
        </div>
        <div class="bx_fieldDes">
            <label>Descripción</label>
            <textarea></textarea>
        </div>

        <div class="bx_imgS">
            <label>Imagenes</label>
            <div class="img-adj">
                <div class="bx-img" id="first">
                    <div class="bx_addImg">
                        <input type="file" id="first" class="input_file" (change)="loadImg($event,0)">
                        <img [src]="this.imageFirst" class="img_file" alt="">
                    </div>
                </div>
                <div class="bx-img" id="second">
                    <div class="bx_addImg">
                        <input class="input_file" type="file" id="first" (change)="loadImg($event,1)">
                        <img [src]="this.imageSecond" class="img_file" alt="">
                    </div>
                </div>
                <div class="bx-img" id="three">
                    <div class="bx_addImg">
                        <input type="file" id="first" class="input_file" (change)="loadImg($event,2)">
                        <img [src]="this.imageThree" class="img_file" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-ver">
            <div (click)="this.showImage(1)" class="zoom">
                {{this.imageFirst!='' ? 'Zoom' : ''}}</div>
            <div (click)="this.showImage(2)" class="zoom">
                {{this.imageSecond!='' ? 'Zoom' : ''}}</div>
            <div (click)="this.showImage(3)" class="zoom">
                {{this.imageThree!='' ? 'Zoom' : ''}}</div>
        </div>

        <button class="buttonBx">
            <span class="button_lg">
                <span class="button_sl"></span>
                <span class="button_text">Crear Ticket</span>
            </span>
        </button>

    </div>
</div>

<ng-container *ngIf="this.isVisible">
    <app-imagen-popup-zoom [imgZoom]="this.imageZoom"></app-imagen-popup-zoom>
</ng-container>