.container_inicio {
  color: #7e8083;
  width: 88%;
  margin-top: 56px;
  justify-content: center;
  padding: 5px;
  float: right;
  margin-right: 6%;
  font-family: 'Poppins', sans-serif;
}

.bx_inicio {
  height: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #a4a4a4;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 4rem; */
}


.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.small_bx {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
}


.grid_list {
  flex: 1;
}

.dashboard-card-1 {
  height: 100px;
  background: linear-gradient(to right, #F7CE68, #FBAB7E);
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 22%;
}

.dashboard-card-2 {
  height: 100px;
  background: linear-gradient(to right, #7791f1, #8770bd);
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 22%;

}

.dashboard-card-3 {
  height: 100px;
  background: linear-gradient(to right, #fbc2a5, #ff4360);
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 22%;
}

.dashboard-card-4 {
  height: 100px;
  background: linear-gradient(to right, #25e7ad, #116466);
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 22%;
}

.Conta_textAndnum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bx_text {
  display: flex;
  flex-direction: column;
  width: 152px;
  color: #fff;
}

.h2Title {
  margin-bottom: 0;
}

.bx_text small {
  font-size: 13px;
  color: #fff;
}

.bx_num h2 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0;
  color: #fff;
}

.cont_addAndstatus {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 2rem;
}

.btn_add button {
  border: none;
  background-color: #464d52;
  color: #fff;
  border-radius: 5px;
  margin-top: 14px;
  cursor: pointer;
}

.btn_add button mat-icon {
  font-weight: 900;
  font-size: 26px;
}

.bx_status {
  display: flex;
  flex-direction: column;
  width: 18%;
  justify-content: space-between;
  margin-left: 1rem;
}

.bx_status label {
  font-weight: 700;
  font-size: 14px;
}

.bx_status select {
  border: 1px solid #999999;
  color: #999999;
  border-radius: 5px;
  height: 25px;
  width: 100%;
}

.UniTrC {
  display: flex;
  justify-content: space-around;
  height: 30px;
  border-radius: 0px 0px 11px 11px;
  align-items: center;
}

.UniTrD {
  display: flex;
  justify-content: space-around;
  height: 30px;
  border-radius: 11px 11px 0px 0px;
  background-color: #F5F5F5;
  align-items: center;
}

.UniTh {
  width: 100%;
  height: 25px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #7e8083;
}

.UniTd {
  width: 100%;
  height: 25px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #7e8083;
}


.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}

.bx_img img {
  width: 76px;
  height: 64px;
  text-align: center;
  font-size: 64px;
  color: #fff;
}

.table {
  border: 1px solid #a4a4a4;
  border-radius: 8px;
}

#matTables {
  box-shadow: none;
  border-radius: 8px;
}

.bx_btn {
  height: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bx_btn mat-icon {
  font-size: 16px;
  color: #7e8083;
}

.mat-grid-tile-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39%;
  padding: 0;
  margin: 0;
}

.content-loading {
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.UniTd select {
  border: 1px solid #999999;
  color: #999999;
  border-radius: 5px;
}


.wrapper {
  width: 250px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 30px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.loadingBx {
  text-align: center;
  position: absolute;
  top: 123%;
  font-weight: bold;
  left: 39%;
}

h4 {
  font-weight: bold;
}