<div class="container_inicio">
  <h2>Administra sus tickets</h2>
  <div class="bx_inicio">

    <div class="cont_addAndstatus">
      <div class="btn_add" appAccessRolUser>
        <button (click)="this.OpenCreateTicket()"><mat-icon>add</mat-icon></button>
      </div>
      <div class="bx_status">
        <label>Filtrar por estado</label>
        <select>
          <option *ngFor="let item of this.codeGenStatus" [value]="item.Value">{{item.Code}}</option>
        </select>
      </div>
    </div>

    <div class="table">
      <mat-table id="matTables" mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
        <ng-container *ngFor="let columns of displayedColumns">
          <ng-container matColumnDef="{{columns}}" *ngIf="columns !='Acciones' && columns!= 'asignacion'">
            <th class="UniTh" mat-header-cell *matHeaderCellDef>{{columns | uppercase}}</th>
            <td class="UniTd" mat-cell *matCellDef="let element">{{element[columns]}}</td>
          </ng-container>

          <ng-container matColumnDef="{{columns}}" *ngIf="columns=='asignacion'">
            <th class="UniTh" mat-header-cell *matHeaderCellDef>{{columns | uppercase}}</th>
            <td class="UniTd" mat-cell *matCellDef="let element; index as index">
              <select style="text-align: center;" [value]="element[columns]"
                (change)="this.UpdateItemTicket($event,element,index)">
                <option value="0">No ha asignado</option>
                <option value="1">Juan Sebastian</option>
                <option value="2">Giovanny Vasquez</option>
              </select>
            </td>
          </ng-container>

          <ng-container matColumnDef="{{columns}}" *ngIf="columns == 'Acciones'">
            <th class="UniTh" mat-header-cell *matHeaderCellDef>{{columns | uppercase}}</th>
            <td class="UniTd" mat-cell *matCellDef="let element">
              <button class="bx_btn"><mat-icon> message</mat-icon></button>
            </td>
          </ng-container>
        </ng-container>

        <tr class="UniTrD" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="UniTrC" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>
    </div>

  </div>
</div>