<!-- <div class="container">
    <div class="bx_body">
        <div class="bx_conta">

            <img [src]="'data:image/png;base64,' + resultCode">

            <div class="bx_camp">

                <div class="bx_divInput">
                    <div class="bx_inpLab">
                        <label>Tipo de Identificación</label>
                        <select>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="bx_inpLab">
                        <label>Identificación</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Ciudad</label>
                        <select>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="bx_inpLab">
                        <label>País</label>
                        <select>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="bx_divInput">
                    <div class="bx_inpLab">
                        <label>Primer Nombre</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Segundo Nombre</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Primer Apellido</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Segundo Apellido</label>
                        <input type="text">
                    </div>
                </div>

                <div class="bx_divInput">
                    <div class="bx_inpLab">
                        <label>Nombre de Usuario</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Tipo de Sangre</label>
                        <select>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="bx_inpLab">
                        <label>Dirección</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Generó</label>
                        <select>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="bx_divInput">
                    <div class="bx_inpLab">
                        <label>Compañía</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Teléfono</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Contraseña</label>
                        <input type="password">
                    </div>
                    <div class="bx_inpLab">
                        <label>Correo Electronico</label>
                        <input type="email">
                    </div>
                </div>
                <div class="bx_btn">
                    <button (click)="this.createCodeQr()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div> -->