<div class="container">
    <div class="bx_body">
        <div class="bx_conta">
            <div class="bx_img">
                <img src="../../../assets/img/test.jpg" alt="">
            </div>
            <div class="bx_camp">
                <div class="bx_divInput">
                    <div class="bx_inpLab">
                        <label>Nombre</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Apellido</label>
                        <input type="text">
                    </div>
                </div>
                <div class="bx_divInput">
                    <div class="bx_inpLab">
                        <label>Identificación</label>
                        <input type="text">
                    </div>
                    <div class="bx_inpLab">
                        <label>Nombre de Usuario</label>
                        <input type="text">
                    </div>
                </div>
                <div class="bx_divInput">
                    <div class="bx_inpLab">
                        <label>Contraseña</label>
                        <input type="password">
                    </div>
                    <div class="bx_inpLab">
                        <label>Correo Electronico</label>
                        <input type="email">
                    </div>
                </div>
                <div class="bx_btn">
                    <button>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>